/* Utilities */
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.card-image{
	max-height:300px;
	overflow:hidden;

	img{
		width:100%;
	}
}

body{
	@import url(https://fonts.googleapis.com/css?family=Lato);
	@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,400italic,300);
	
	font-family: 'Merriweather', serif;

	strong{
		font-weight: 700;
	}

	color: #444;

	h1,h2,h3,h4,h5{
		font-family: 'Lato', sans-serif;
	}

	background: #FFFFF8;

	nav{
		background: none;
		box-shadow: none;
		margin-bottom: 30px;
	}

	.brand-logo{
		figure{
			padding: 0;
			margin: 5px 0 0;
			max-width: 300px;

			img{
				width: 100%;
			}
		}
	}

	#update-subscription{
		margin-top: 50px;
		
	}

	hr{
		border: 0;
	    height: 1px;
	    background: #333;
	    background-image: linear-gradient(to right, #FFFFF8, #444, #FFFFF8);
	}
	
	.events{
		h1{
			text-align: center;
		}
	}
}

