@off-white: #FFFFF8;
@red-accent: #db7c6a;
@teal-accent: #56a7a1;
@light-blue-accent: #519cd6;
@dark-blue-accent: #384556;

/* Utilities */
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.card-image{
	max-height:300px;
	overflow:hidden;

	img{
		width:100%;
	}
}

body{
	@import url(https://fonts.googleapis.com/css?family=Lato);
	@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,400italic,300);
	
	font-family: 'Merriweather', serif;

	strong{
		font-weight: 700;
	}

	color: #444;

	h1,h2,h3,h4,h5,.btn,.btn-large{
		font-family: 'Roboto', sans-serif;
	}

	background: @off-white;

	nav{
		background: none;
		box-shadow: none;
		margin-bottom: 30px;
	}
	
	.off-white{
		background: @off-white;
	}

	.off-white-text{
		color: @off-white;
	}

	.red-accent{
		background: @red-accent;
	}

	.red-accent-text{
		color: @red-accent;
	}

	.light-blue-accent{
		background: @light-blue-accent;
	}

	.light-blue-accent-text{
		color: @light-blue-accent;
	}

	.dark-blue-accent{
		background: @dark-blue-accent;
	}

	.dark-blue-accent-text{
		color: @dark-blue-accent;
	}

	.brand-logo{
		figure{
			padding: 0;
			margin: 5px 0 0;
			max-width: 300px;

			img{
				width: 100%;
			}
		}
	}

	#update-subscription{
		margin-top: 50px;
		
	}

	hr{
		border: 0;
	    height: 1px;
	    background: #333;
	    background-image: linear-gradient(to right, @off-white, #444, @off-white);
	}
	
	.events{
		h1{
			text-align: center;
		}
	}

	nav {
		ul {
			margin-top: 16px; 

		}

		.btn{
			color: @off-white !important;
		}

		.register{
			margin-left: 10px;
		}
	}

}

.homepage{

	video{
		opacity:0.2;
	}


	nav ul li a{
		color: @off-white !important;
	}


	.logo{
		margin-top: 19px;
	}

	.welcome-page-hero{
		height: 400px;

		h1{
		    font-weight: 100;
		    font-size: 6em;
		    color: @off-white;
		}

		h2{
			font-weight: 100;
		    font-size: 2em;
		    text-transform: uppercase;
		    letter-spacing: 9px;
		    color: @off-white;
		}

		hr{
			background-image: linear-gradient(to right, rgba(255,255,255,0), @off-white, rgba(255,255,255,0));
		}

		.btn-large{
			margin-bottom:1em;
		}
	}

	.welcome-page-parallax{
		height: 750px;

		.parallax{
			background:black;
		}
	}

	.event-cards .row{
		margin-bottom: 0px;
		padding-top: 10px;
	}
	
	#description{
		background: @teal-accent;
		padding: 70px 0;
		color: @off-white;
		margin-top: 0;
		margin-bottom: 0;

		.material-icons{
			font-size:inherit;
		}
	}

	#call-to-action {
		margin-bottom: 0;
		padding:1em;

		.form-wrapper{
			width:92%;
			max-width:600px;
			margin:0 auto;
			margin-bottom:1em;
		
			.input-field{
				label{
					color:@off-white;
				}
				
				input{
					border-bottom: 1px solid @off-white;
				}
			}
		}
	}
}

